.navbar {
    padding: 30px;
}

.navbar-brand {    
    font-family: 'IM Fell French Canon', serif;
    
} 

body {
    background-image: url('../Images/backgroundImage.jpg');
}

h1 {
    color: #17202A;
    font-size: 50px;
    font-family: 'IM Fell French Canon', serif;
    
}

#app-description {
    text-align: center;
}

#my-bio {
    font-size: 25px;
}

.skills-icon {   
    width: 10%;
    height: 10%;
}

li {
   list-style-type: disc; 
}

